<h1>Personal Notepad<h1>
<div id="NotePad" style="overflow:hidden;width:950px;margin: 0 auto">
  <div id="Sidebar" style="width: 200px; float:left">
    
  </div>
  <div id="Body" style="width: 746px;float:left">
    
  </div>
</div>
